.navbar {
    box-shadow: 0 2px 4px green;
}

/* Sidebar */
.sidebar {
    min-height: 100vh;
    padding: 15px;
}

/* Buttons inside Sidebar */
.sidebar button {
    width: 100%;
    text-align: center;
}

/* Button Hover Effects */
.btn-light:hover {
    background-color: #ddd;
}

.sidebar {
    background-color: green;
    padding: 15px;
    text-align: center;
    border-right: 3px solid white; /* Adding a border to separate sidebar */
}

.list-unstyled {
    padding: 10px;
    border: 2px solid white;
}

.list-unstyled li {
    margin: 10px 0;
}

button {
    background-color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.content-area {
    background-color: black;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
